<p>
    {% if page.next %}
        &lt;&lt; <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
    {% endif %}
    {% if page.previous and page.next %}
        ｜
    {% endif %}
    {% if page.previous %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a> &gt;&gt;
    {% endif %}
</p>
<h3>Latest Posts</h3>
<ul>
    {% for post in site.posts limit:10 %}
    <li>
        {{ post.date | date_to_string }}
        -
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
<h3>Links</h3>
<ul>
    <li><a href="https://9nine-fan.lespros.co.jp/">9nine OFFICIAL SITE | ファンクラブの9nine</a></li>
    <li><a href="https://lespros.co.jp/talent/artists/umika_kawashima/">川島海荷 | アーティスト | レプロエンタテインメント</a></li>
    <li><a href="https://yui-aragaki.lespros.co.jp/">新垣結衣オフィシャルファンクラブ | Yui's Room</a></li>
</ul>
<p><span>&copy; 2017 <a href="{{ site.baseurl }}">yu@nelumbot</a></span></p>